<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>InTune.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Network.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Networking.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AFD1FEC121A6CE7400D2894F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFD1FED521A6CE7700D2894F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFD1FEE021A6CE7700D2894F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFD1FF7C21A8671300D2894F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
